.hide {
	opacity: 0;
}
.show {
	opacity: 1;
}
.sample-font-divider {
	font-size: 14px;
	background: $gray-lightest;
	padding: 10px;
}
.sample-font-rejects {
	font-size: 12px;
	padding: 10px 60px;
	border-top: 1px solid $gray-light;
	border-bottom: 1px solid $gray-light;
}
.sample-font {
	h1 {
		margin-bottom: 25px;
		line-height: 1.4em;
	}
	p {
		font-size: 18px;
	}
	strong {
		font-weight: bold;
	}
	&.combo {
		padding: 50px 60px;
		max-width: 700px;
		border-bottom: 1px solid $gray-light;
	}
	&.single {
		padding: 20px 60px 0;
		max-width: 800px;
	}
}


// Responsive
@media all and (min-width: 420px) {
// Tablet & Up

// End Tablet & Up
}

@media all and (min-width: 800px) {
// Desktop & Up


// End Desktop & Up
}