body {
	font-family: $font-family;
	font-size: 16px;
	color: $font-color;
}
.ys-button-main {
	margin: 0;
	font-family: $accent-font;
	font-weight: bold;
	text-transform: uppercase;
	&.xlarge {
		font-size: 24px;
		margin: 0 auto;
		display: block;
		line-height: 60px;
		height: 60px;
		max-width: 300px;
	}
}
.dark cite, .dark, .dark .lead {
    color: $font-color;
}
.light .ut-left-footer-area, .light .ut-right-footer-area {
	background: none;
}
.su-column-size-1-2 {
	p {
		max-width: 400px;
	}
}
.hero-inner {
	.hero-title, .hdb {
		max-width: 700px;
		margin-left: auto;
		margin-right: auto;
	}
}
.grid-container {
    max-width: 900px;
}
// Header Navigation
#navigation {
	font-family: $accent-font;
}
#menu-header-nav {
	//li:nth-child(2) a:after {
	li a:after {
		display: none;
	}
}
#navigation ul li a {
	font-size: 14px;
}
.ut-home-link {
	display: none;
	opacity: 0;
}
.sub-menu {
	opacity: 0;
}
.site-logo {
	opacity: 1;
	@include transition(all .5s);
	img {
	    width: 150px;
	}
}
.ha-header {
	.grid-container {
	    max-width: 2000px;
	}
}
.ha-header.ha-transparent:hover {
	background: none;
}
.ha-transparent {
	#navigation ul li a,
	#navigation ul li a:hover,
	#navigation ul li.current-menu-item:not(.current_page_parent) a, 
	#navigation ul li.current_page_item:not(.current_page_parent) a,
	#navigation ul li.current-menu-item:not(.current_page_parent) a:hover, 
	#navigation ul li.current_page_item:not(.current_page_parent) a:hover {
		color: #fff;
	}

}
.home {
	.ha-transparent {
		.ut-mm-button:before,
		#navigation ul li a,
		#navigation ul li a:after,
		#navigation ul li a:hover,
		#navigation ul li.current-menu-item:not(.current_page_parent) a, 
		#navigation ul li.current_page_item:not(.current_page_parent) a,
		#navigation ul li.current-menu-item:not(.current_page_parent) a:hover, 
		#navigation ul li.current_page_item:not(.current_page_parent) a:hover {
			color: #fff;
		}

	}
}
// Footer 
.footer-content {
	display: none;
}
.ut-footer-area .shortcodes-ultimate-2 {
    float: right;
    margin-bottom: 0;
    margin-top: -10px;
}
.ut-footer-area .widget_recent_entries {
	.widget-title {
		font-size: 14px;
		font-family: $accent-font;
		font-weight: bold;
	}
	a {
		font-size: 12px;
		color: $white;
		font-family: $accent-font;
	}
}
.ut-footer-dark .ut-footer-area .widget_categories li, 
.ut-footer-dark .ut-footer-area .widget_pages li, 
.ut-footer-dark .ut-footer-area .widget_nav_menu li, 
.ut-footer-dark .ut-footer-area .widget_recent_entries li, 
.ut-footer-dark .ut-footer-area .widget_recent_comments li, 
.ut-footer-dark .ut-footer-area .widget_meta li, 
.ut-footer-dark .ut-footer-area .widget_archive li {
	border: none;
	padding-left: 0;
	&:before {
		display: none;
	}

	a {
		color: $white;
	}

}
#menu-footer {
	overflow: hidden;
	li {
		float: left;
		border: none;
		margin-right: 15px;
		padding-left: 0;
		font-size: 14px;
		font-family: $accent-font;
		&:before {
			display: none;
		}
	}
	a {
		color: $white;
	}
}
// Home Page
.hero-inner {
	.hero-btn {
		color: #fff;
		border: none;
		background: none;
		font-family: $font-family;
		text-transform: none;
		@include transition(all .5);
		i {
			font-size: 55px;
			margin-top: 10px;
			display: block;
			@include transition(all .5);
		}
		&:hover {
			color: #fff;
			//opacity: 1;
		}
	}
}
.hero-title span:not(.ut-word-rotator),
.hero-title span {
	font-weight: bold;
	color: #fff !important;
}
.hero-btn-holder {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.hero-description-bottom {
	font-size: 16px;
    margin-bottom: 80px;
}