---
layout: default
title: Sample Fonts
slug: sample-fonts
path: ../

meta-title: Sample Fonts
meta-description: Sample Fonts
---
<link href='https://fonts.googleapis.com/css?family=Pragati+Narrow:400,700|Palanquin:400,700|Yantramanav:700,300|Catamaran:400,700|Sintony:400,700|Jaldi:400,700|Source+Sans+Pro:400,700|News+Cycle:400,700|Oxygen:400,700|Roboto:400,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Sura:400,700|Lora:400,700|Arvo:400,700|Glegoo:400,700|Roboto+Slab:400,700|Halant:400,700|Kameron:400,700' rel='stylesheet' type='text/css'>


<h1 class="sample-font-divider">Font Combos</h1>
{% include sample-font.html layout="combo" headline-font="Lora" body-font="Yantramanav" %}
{% include sample-font.html layout="combo" headline-font="Yantramanav" body-font="Yantramanav" %}
{% include sample-font.html layout="combo" headline-font="Arvo" body-font="Sintony" body-font-style="font-size: 16px;line-height: 24px;" %}
{% include sample-font.html layout="combo" headline-font="Roboto Slab" body-font="Roboto" %}

<h1 class="sample-font-divider">Headline Fonts</h1>
{% include sample-font.html layout="single" headline-font="Sura" %}
{% include sample-font.html layout="single" headline-font="Lora" %}
{% include sample-font.html layout="single" headline-font="Arvo" %}
{% include sample-font.html layout="single" headline-font="Glegoo" %}
{% include sample-font.html layout="single" headline-font="Roboto Slab" %}
<div class="sample-font-rejects">Maybe</div>
{% include sample-font.html layout="single" headline-font="Kameron" %}
{% include sample-font.html layout="single" headline-font="Halant" %}

<h1 class="sample-font-divider">Body Fonts</h1>
{% include sample-font.html layout="single" body-font="Palanquin" %}
{% include sample-font.html layout="single" body-font="Yantramanav" %}
{% include sample-font.html layout="single" body-font="Catamaran" %}
{% include sample-font.html layout="single" body-font="Sintony" %}
{% include sample-font.html layout="single" body-font="Jaldi" %}
{% include sample-font.html layout="single" body-font="Source Sans Pro" %}
{% include sample-font.html layout="single" body-font="News Cycle" %}
{% include sample-font.html layout="single" body-font="Oxygen" %}
{% include sample-font.html layout="single" body-font="Roboto" %}
<div>Maybe</div>

